{% extends "layout.html" %} 
{% set active_page = "admin" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-lg-12 col-sm-12">
            <div class="col-12 mt-5">
                <a href="{% if prepared == 'True' %}{% else %} {{ url_for('prepare_demo') }} {% endif %}" class="no-underline"><button class="btn btn-success btn-block {% if prepared == 'True' %} disabled {% endif %}">PREPARE DEMO</button></a>
                <p></p>
                <a href="{{ url_for('start_demo') }}" class="no-underline"><button class="btn btn-success btn-block">START DEMO</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}