{% extends "layout.html" %}
{% set active_page = "anomalies" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-lg-12 col-sm-12">
            <div class="col-12 mt-5">


            </div>
        </div>
    </div>
</div>
{% endblock %}