{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-12 col-sm-12">

            <div class="col-12 mt-5">
                {% if active_page == 'anomalies' %}
                <h1>All Anomalies</h1>
                {% elif active_page == 'anomalies/today' %}
                <h1>Today's Anomalies</h1>
                {% elif active_page == 'anomalies/weekly' %}
                <h1>This Week's Anomalies</h1>
                {% elif active_page == 'anomalies/custom' %}
                <h1>Custom Filtered Anomalies</h1>
                {% elif active_page == 'anomalies/custom/result'%}
                <h1>Custom Filtered Anomalies</h1>
                {% endif %}

                {% if active_page == 'anomalies/custom' %}
                <div class="row justify-content-left text-center">
                    <div class="col-6 mt-3">
                        <label><h4>Timeframe Filter</h4></label>
                        <form autocomplete="off" action="{{ url_for('anomalies_custom_date') }}" method="GET">
                            <div class="form-row">
                                <div class="input-group input-daterange">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="from-addon">From</span>

                                    </div>
                                    <input type="text" id="fromDate" name="fromDate" class="form-control"
                                           placeholder="2018-07-04" required>
                                </div>
                            </div>
                            <p></p>
                            <div class="form-row">
                                <div class="input-group input-daterange">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="to-addon">&nbsp&nbsp&nbspTo&nbsp&nbsp</span>
                                    </div>

                                    <input type="text" id="toDate" name="toDate" class="form-control"
                                           placeholder="2018-07-07" required>
                                </div>
                            </div>
                            <p></p>
                            <div class="form-row">
                                <div class="form-col justify-content-left">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-6 mt-3">
                        <label><h4>User Filter</h4></label>
                        <form autocomplete="off" action="{{ url_for('anomalies_custom_user') }}" method="GET">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-user-addon">User</span>
                                </div>
                                <input type="text" class="form-control" id="user" name="user"
                                       aria-describedby="basic-user-addon" required>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-success" type="submit">Submit</button>

                            </div>
                        </form>
                    </div>
                </div>

                    <label><h4>Timeframe and User Filter</h4></label>
                <div class="row justify-content-left text-center">

                    <div class="col-6 mt-3">
                        <form autocomplete="off" action="{{ url_for('anomalies_custom_userdate') }}" method="GET">
                            <div class="form-row">
                                <div class="input-group input-daterange">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="tfu-from-addon">From</span>

                                    </div>
                                    <input type="text" id="tfu-fromDate" name="tfu-fromDate" class="form-control"
                                           placeholder="2018-07-04" required>
                                </div>
                            </div>
                            <p></p>
                            <div class="form-row">
                                <div class="input-group input-daterange">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="tfu-to-addon">&nbsp&nbsp&nbspTo&nbsp&nbsp</span>
                                    </div>

                                    <input type="text" id="tfu-toDate" name="tfu-toDate" class="form-control"
                                           placeholder="2018-07-07" required>
                                </div>
                            </div>
                    </div>

                    <div class="col-6 mt-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="tfu-user-addon">User</span>
                                </div>
                                <input type="text" class="form-control" id="tfu-user" name="tfu-user"
                                       aria-describedby="basic-user-addon" required>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-success" type="submit">Submit</button>

                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}

                {% if active_page != 'anomalies/custom' %}
                <div class="row justify-content-left">
                    <div class="col-5 justify-content-left">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Highlight User / Date / Cause</span>
                            </div>
                            <input type="text" class="form-control" id="highlight-input" aria-describedby="basic-addon3"
                                   oninput="highlight()" onpaste="highlight()" autofocus>
                        </div>
                    </div>
                </div>

                <table class="table text-center models">
                    <thead class="">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Found At</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Anomaly Cause</th>
                        <th scope="col">FP Probability</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody id="log-entries">
                    {% if anomalies|length == 0 %}
                    <tr class="" id="">
                        <td class="align-middle" colspan="7">No Anomalies Found</td>
                    </tr>
                    {% endif %}
                    {% for anomaly in anomalies %}
                    <tr class="{{anomaly['found_at']}} {{anomaly['userid']}} {{anomaly['cause']}}">
                        {% set date,time = anomaly['found_at'].split(' ') %}
                        <td class="align-middle">{{anomaly['id']}}</td>
                        <td class="align-middle">{{date}}</td>
                        <td class="align-middle">{{time}}</td>
                        <td class="align-middle">{{anomaly['userid']}}</td>
                        <td class="align-middle">{{anomaly['cause']}}</td>
                        <td class="align-middle">{{anomaly['fp_prob']}}%</td>
                        <td class="align-middle">
                                <button class="btn btn-success" data-toggle="collapse" data-target=".row{{loop.index}}">Show</button>
                                &nbsp;
                                <a href="{{url_for('anomaly_merge_by_id', anomid=anomaly['id'])}}"><button class="btn btn-success">Merge</button></a>
                                &nbsp;
                                <a href="{{url_for('anomaly_resolve_by_id', anomid=anomaly['id'])}}"><button class="btn btn-success">Resolve</button></a>
                        </td>

                    </tr>
                            {% set outer = loop.index %}

                            <tr class="collapse row{{outer}}" >

                                <td class="text-left" colspan="5">{% for entry in anomaly['logs'] %}{{entry}}<br>
                        {% endfor %}</td>
                             </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="form-group">
                    &nbsp;
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    let temp = "";

    function highlight() {
        if (temp != "" && temp != user) {
            if ($("#log-entries tr." + temp).length > 0) {
                for (let row of $("#log-entries tr." + temp)) {
                    row.style.backgroundColor = '';
                }
            }
        }

        var user = document.getElementById('highlight-input').value;
        if (user != "") {
            if ($("#log-entries tr." + user).length > 0) {
                for (let row of $("#log-entries tr." + user)) {
                    row.style.backgroundColor = 'RGBA(185,235,110,0.33)';
                }
            }
        }

        temp = user;
    }
</script>
{% endblock %}
