{% extends "layout.html" %} 
{% set active_page = "index" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-sm-12">
            <div class="col-12 mt-5">
                <img height="50px" src="{{ url_for('static', filename='iC_Consult_Group_Logo.png') }}"/>
                <h1>ANOMALY INSPECTOR</h1>
                <p></p>
                <p>The Anomaly Inspector offers tools to inspect occured anomalies and the historic behavior of the users for which detections have been executed for.</p>
            </div>
            <a href="{{ url_for('anomalies') }}"><button class="btn btn-success text-center mt-5">SUBSCRIBE TO ANOMALY DETECTIONS</button></a>
        </div>
    </div>
</div>
{% endblock %}