<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css" crossorigin="anonymous">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-success" href="{{ url_for('index') }}">Anomaly Inspector</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if 'index' == active_page %} text-success {% endif %}" href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if 'anomalies' == active_page or 'anomalies/today' == active_page or 'anomalies/weekly' == active_page or 'anomalies/custom' == active_page %} text-success {% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Anomalies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {% if 'anomalies' == active_page %} text-success {% endif %}" href="{{ url_for('anomalies') }}">All Anomalies</a>
          <a class="dropdown-item {% if 'anomalies/today' == active_page %} text-success {% endif %}" href="{{ url_for('anomalies_today') }}">Today's Anomalies</a>
          <a class="dropdown-item {% if 'anomalies/weekly' == active_page %} text-success {% endif %}" href="{{ url_for('anomalies_weekly') }}">Week's Anomalies</a>
          <a class="dropdown-item {% if 'anomalies/custom' == active_page %} text-success {% endif %}" href="{{ url_for('anomalies_custom') }}">Filter Anomalies</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'ubh' == active_page %} text-success {% endif %}" href="{{ url_for('ubh') }}">UBHs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'admin' == active_page %} text-success {% endif %}" href="{{ url_for('admin') }}">Admin</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand navbar-right" href="{{ url_for('index') }}"><img height="15px" src="{{ url_for('static', filename='iC_Consult_Group_Logo.png') }}"/></a>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" crossorigin="anonymous"></script>


<script>
    $('.input-daterange input').each(function() {
      $(this).datepicker({
          format: 'yyyy-mm-dd',weekStart: 1,
          todayBtn: "linked",
          clearBtn: true,
          calendarWeeks: true,
          autoclose: true,
          todayHighlight: true
      });
    });
</script>
{% block scripts %}
{% endblock %}