{% extends "layout.html" %} 
{% set active_page = "login" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-lg-5 col-xs-8">
            <form action="{{ url_for('login') }}" method=post class="mt-5" >
                {% if error %}<div class="mt-5 text-danger">Something went wrong. Please make sure that your username and password are correct.</div>{% endif %}
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success col-12" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}