{% extends "layout.html" %}
{% set active_page = "ubh" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-lg-12 col-sm-12">
            <div class="col-12 mt-5">
                <h1>UBHs</h1>
                <h2>(User Behavior Histories)</h2>
                {% if ubhs|length == 0 %}
                     <table class="table table-striped text-center models">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2"><h3>No UBH found</h3></th>
                            </tr>
                        </thead>
                     </table>
                {% endif %}
                {% for ubh in ubhs %}
                    <table class="table table-striped text-center models">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2"><h7>User ID: {{ubh[0]}}</h7></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for log in ubh[1] %}
                            <tr class="" id="">
                                <td class="align-middle">{{log}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                     </table>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}